<hibernate-configuration>
    <session-factory>

        <!-- Propiedades de la conexión -->
        <!-- Driver JDBC -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Conexión. Añadir ?createDatabaseIfNotExist=true para crear la BBDD -->
        <property name="connection.url">jdbc:mysql://localhost:3306/Banco</property>

        <!-- Usuario y password de la BBDD -->
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>

        <!-- dialecto dentro del conector. Importante para claves ajenas-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuraciones adicionales -->
        <property name="hbm2ddl.auto">create</property>

        <!-- JDBC connection pool Conexiones concurrentes -->
        <property name="connection.pool_size">5</property>

        <!-- Una sesion de trabajo por Thread-->
        <property name="current_session_context_class">thread</property>

        <!-- Informa de las operaciones "reales" SQL. Interesante en desarrollo -->
        <property name="show_sql">true</property>
        <mapping class="com.example.bancobanco.beans.Comptes"/>
        <mapping class="com.example.bancobanco.beans.Clients"/>
    </session-factory>
</hibernate-configuration>